{% extends "mybook/base.html" %}

{% block js.extra %}
<script type="text/javascript" lang="Javascript">
	var account_id={{book.id}};
</script>
<script type="text/javascript" lang="Javascript" src="/static/js/lib/include.js?1444740001119"></script>
<script type="text/javascript" lang="Javascript" src="/static/js/page/bill.js?1444740001119"></script>
{% endblock %}

	{% block header.nav %}
	<ul class="eNav">
		<li id='liTop0' class="topbar " ><a href="/mybook/{{book.id}}/user.do?method=wel">理财易首页</a></li>
		<li id='liTop1' class="topbar on" ><a href="/mybook/{{book.id}}/book.do?method=list">我的账本</a></li>
		<li id='liTop2' class="topbar "><a href="/mybook/{{book.id}}/book.do?method=append">新增记录</a></li>
		<li id='liTop3' class="topbar "><a href="/mybook/{{book.id}}/category.do?method=list">收支项目管理</a></li>
		<li id='liTop4' class="topbar "><a href="/mybook/{{book.id}}/book.do?method=analytics">分析报表</a></li>
		<li id='liTop5' class="topbar "><a href="/mybook/{{book.id}}/book.do?method=search">搜索账目</a></li>
	    <li id='liTop6' class="topbar "><a href="/mybook/{{book.id}}/book.do?method=myfunds">股票基金</a></li>
	</ul>
  {% endblock header.nav %}

			{%block content%}


	<!--操作或系统提示通用区域-->
		<div class="eInfo hide" >&nbsp;<b class="icoInfo">&nbsp;&nbsp;&nbsp;&nbsp;</b><span id='spnMessage'></span></div>

		<div class="eSubNav"> <a href="/mybook/{{book.id}}/book.do?method=list" class="on">本月收支</a> <span class="spline">|</span> <a href="/mybook/{{book.id}}/book.do?method=listmonth">按月份查看</a> <span class="spline">|</span> <a href="/mybook/{{book.id}}/book.do?method=listsort">按收支项目查看</a> </div>


		<div class="SummaryTxt bmSt"><b class="fLe">{{year}}年{{month}}月合计</b>&nbsp; <b class="fgn">收入:{{income}}￥</b>&nbsp;&nbsp;&nbsp;<b class="frd">支出:{{outcome}}￥</b>&nbsp;&nbsp;&nbsp;<b class="fbu">结余:{{balance}}￥</b></div>

    {% if not account_list %}
		<!--没有记录时候显示-->
		<div class="eInfo2"  >
			<img src="/static/mybook/images/ico_info2.gif"/>
			<p>本月暂无收支记录，<br/>请点击“<a href="/mybook/{{book.id}}/book.do?method=append">新增记录</a>”添加。</p>
		</div>
    {%endif%}

		<table class="eTb" {% if not account_list %}style='display:none'{%endif%}>
		<col width="" />
		<col width="85" />
		<col width="140" />
		<col width="100" />
		<col width="100" />
		<col width="90" />
			<tr>
				<th>账户名称</th>
				<th>现金</th>
				<th>存款</th>
				<th>流动资产(现金+存款)</th>
				<th>应收</th>
				<th>操作</th>
			</tr>

			{% for account in account_list %}

			<tr id='trBill_{{account.id}}' class="tr1 trBillList">
				<td class="tdCutL" title=""><a href="/mybill/{{account.id}}/">{{account}}</a></td>
				<td>{{account.tx_date|date:'Y-m-d'}}</td>
				<td class="tdCutL" title=""><nobr>{{account.ammount}}</nobr></nobr></td>
				<td class="fgn">{%if account.tx_type%}￥{{account.amount}}{%else%}&nbsp;{%endif%}</td>
				<td class="frd">{%if account.tx_type%}&nbsp;{%else%}{{account.amount}}￥{%endif%}</td>
				<td><a href="/mybook/{{book.id}}/book.do?method=edit&id={{account.id}}" class="icoEdt" title="编辑账单">&nbsp;&nbsp;&nbsp;&nbsp;</a> &nbsp; <a href="#" class="icoDel" title="删除账单" onclick='return del("{{accountitem.id}}","nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD")'>&nbsp;&nbsp;&nbsp;</a></td>
			</tr>
			{% endfor %}



		</table>





		<div class="SummaryTxt bmSt"><b class="fLe">{{year}}年{{month}}月合计</b>&nbsp; <b class="fgn">收入:￥{{income}}</b>&nbsp;&nbsp;&nbsp;<b class="frd">支出:￥{{outcome}}</b>&nbsp;&nbsp;&nbsp;<b class="fbu">结余:￥{{balance}}</b></div>

		<br/>

		<div class="SummaryTxt bmSt"><a href="/mybook/{{book.id}}/book.do?method=exportyear&strMonth={{year}}">导出{{year}}年数据</a></div>
		{%endblock content%}
