<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>理财易</title>


  <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/add_lcy.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" lang="Javascript" src="/static/js/lib/include.js?1444740001119"></script>
<script type="text/javascript" lang="Javascript" src="/static/js/page/bill.js?1444740001119"></script>
</head>

<body>






<!--增加代码 lemon start-->

	<div class="Top">
		<a	href="/mybook/"	class="a_INDEX">百宝箱</a><b	class="Top_B_arr"></b>
		<span>
			<strong>理财易</strong>
			<select	onchange='document.location.href=this.options[this.selectedIndex].value;'>
				{% for acc in	book_list %}<option value="/mybook/{{acc.id}}/" {%ifequal acc.id	book.id %}	selected="selected"{%endifequal%}>{{acc.name}}</option>{%	endfor%}
			</select>
		</span>
	</div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar " ><a href="/mybook/{{book.id}}/user.do?method=wel">理财易首页</a></li>
		<li id='liTop1' class="topbar" ><a href="/mybook/{{book.id}}/bill.do?method=list">我的账本</a></li>
		<li id='liTop2' class="topbar "><a href="/mybook/{{book.id}}/bill.do?method=append">新增记录</a></li>
		<li id='liTop3' class="topbar "><a href="/mybook/{{book.id}}/category.do?method=list">收支项目管理</a></li>
		<li id='liTop4' class="topbar "><a href="/mybook/{{book.id}}/bill.do?method=analytics">分析报表</a></li>
		<li id='liTop5' class="topbar "><a href="/mybook/{{book.id}}/bill.do?method=search">搜索账目</a></li>
	    <li id='liTop6' class="topbar on"><a href="/mybook/{{book.id}}/bill.do?method=myfunds">股票基金</a></li>
	</ul>

	<div class="eMain">
		<div class="eMtop"></div>
		<div class="eMbdy">

<div class="eWel">
		<iframe src='http://money.163.com/special/00251MNR/licainew686.html?1217843380613' name='ifrMyFunds' height='300' width='663' scrolling='no' frameborder='no'></iframe>
		</div>






	</div>
	<div class="eMbot"></div>
</div>


</body>
</html>
