<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>理财易</title>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/add_lcy.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" lang="Javascript">
	var account_id={{book.id}};
</script>

<script type="text/javascript" lang="Javascript" src="/static/js/lib/include.js?1444741569247"></script>
<script type="text/javascript" lang="Javascript" src="/static/js/page/search.js?1444741569247"></script>
</head>

<body>






<!--增加代码 lemon start-->
	<div class="Top">
		<a	href="/mybook/"	class="a_INDEX">百宝箱</a><b	class="Top_B_arr"></b>
		<span>
			<strong>理财易</strong>
			<select	onchange='document.location.href=this.options[this.selectedIndex].value;'>
				{% for acc in	book_list %}<option value="/mybook/{{acc.id}}/" {%ifequal acc.id	book.id %}	selected="selected"{%endifequal%}>{{acc.name}}</option>{%	endfor%}
			</select>
		</span>
	</div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar " ><a href="/mybook/{{book.id}}/user.do?method=wel">理财易首页</a></li>
		<li id='liTop1' class="topbar " ><a href="/mybook/{{book.id}}/book.do?method=list">我的账本</a></li>
		<li id='liTop2' class="topbar "><a href="/mybook/{{book.id}}/book.do?method=append">新增记录</a></li>
		<li id='liTop3' class="topbar "><a href="/mybook/{{book.id}}/category.do?method=list">收支项目管理</a></li>
		<li id='liTop4' class="topbar "><a href="/mybook/{{book.id}}/book.do?method=analytics">分析报表</a></li>
		<li id='liTop5' class="topbar on"><a href="/mybook/{{book.id}}/book.do?method=search">搜索账目</a></li>
	    <li id='liTop6' class="topbar "><a href="/mybook/{{book.id}}/book.do?method=myfunds">股票基金</a></li>
	</ul>

	<div class="eMain">
		<div class="eMtop"></div>
		<div class="eMbdy">


		<!--操作或系统提示通用区域-->
		<div class="eInfo hide" >&nbsp;<b class="icoInfo">&nbsp;&nbsp;&nbsp;&nbsp;</b><span id='spnMessage'></span></div>

		<form id="frmBillSearch" name='billSearchForm' method="post" action="/mybook/book.do" >
		<div class="srhFm">
			<input id='hdnPageIndex' type=hidden name='pageIndex' value='0' />
			<input id='hdnPageSize' type=hidden name='pageSize' value='100' />
			<input id='hdnTotalCount' type=hidden name='totalCount' value='0' />
			<input type=hidden name='method' value='search'/>
			<input id='hdnType' name='type' type='hidden' value='0' />
			<input id='hdnCategoryId' name='categoryId' type='hidden' value='0' />
			<input id='hdnSubCategoryId' name='subCategoryId' type='hidden' value='0' />
			&nbsp;&nbsp;关键字：<input id='txtKeyword' name='keyword' type="text" value='' style="width:90px"/>&nbsp;&nbsp;&nbsp;&nbsp;收支项目：<select id='selCategoryIds' class='sSel'><option value='-1|-1|-1'>所有收支项目</option><option value='0|50529762|0' >交通</option>
<option value='0|50529762|50529763' >　　违章交通</option>
<option value='0|50529762|50529764' >　　汽油费</option>
<option value='0|50529762|50529765' >　　公共交通</option>
<option value='0|50529762|50529766' >　　停车过路</option>
<option value='0|50529762|50529767' >　　车辆维护</option>
<option value='0|50529762|57845390' >　　火车票</option>
<option value='0|50529768|0' >饮食</option>
<option value='0|50529768|50529769' >　　工作餐</option>
<option value='0|50529768|50529770' >　　聚餐请客</option>
<option value='0|50529768|50529771' >　　蔬菜水果</option>
<option value='0|50529772|0' >服饰美容</option>
<option value='0|50529772|50529773' >　　衣服</option>
<option value='0|50529772|50529774' >　　鞋类</option>
<option value='0|50529772|50529775' >　　护肤品</option>
<option value='0|50529772|50529776' >　　其他</option>
<option value='0|50529777|0' >日常开支</option>
<option value='0|50529777|50529778' >　　水费</option>
<option value='0|50529777|50529779' >　　电费</option>
<option value='0|50529777|50529780' >　　房租</option>
<option value='0|50529777|50529781' >　　燃气费</option>
<option value='0|50529777|50529782' >　　物业管理费</option>
<option value='0|50529777|50529783' >　　生活用品</option>
<option value='0|50529784|0' >教育培训</option>
<option value='0|50529785|0' >通讯电话费</option>
<option value='0|50529786|0' >文化/娱乐</option>
<option value='0|50529787|0' >卫生医疗费</option>
<option value='0|50529788|0' >孝敬父母</option>
<option value='0|50529789|0' >子女培养</option>
<option value='0|50529790|0' >人情往来</option>
<option value='0|50529791|0' >其他开支</option>
<option value='1|50529755|0' >工资</option>
<option value='1|50529756|0' >奖金</option>
<option value='1|50529757|0' >分红</option>
<option value='1|50529758|0' >投资收入</option>
<option value='1|50529759|0' >礼金</option>
<option value='1|50529760|0' >兼职</option>
<option value='1|50529761|0' >其他收入</option>
</select>&nbsp; &nbsp; &nbsp;从 <input id='txtFromRecDate'  readonly='readonly' name='fromRecDate' type="text" style=" width:75px" value="2015-09-13"/> <a id='aFromRecDate' href="#" class="icoCal">&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;至 <input id='txtToRecDate' name='toRecDate' type="text" style=" width:75px"  readonly='readonly' value="2015-10-13"/> <a id='aToRecDate' href="#" class="icoCal">&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;

			<div style=" margin-top:14px; text-align:center"><input id='btnSearch' type="button" class="btnFnt" value="搜索" style="width:80px"/></div>

		</div>



		<br/>
		<br/>
		</form>




	</div>
	<div class="eMbot"></div>
</div>

</body>
</html>
