{% extends "mybill/base_mybill.html" %}

{%block title%}理财易{%endblock%}

{%block js.custom%}
<script type="text/javascript" lang="Javascript" src="/static/js/lib/include.js"></script>
<script type="text/javascript" lang="Javascript" src="/static/js/page/analytics.js"></script>
{%endblock%}


{%block header %}
    <!--增加代码 lemon start-->

	<div class="Top"><a href="http://mimg.126.com/assist/index.htm" class="a_INDEX">百宝箱</a><b class="Top_B_arr"></b><span><strong>理财易</strong></span></div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar " ><a href="/mybill/user.do?method=wel">理财易首页</a></li>
		<li id='liTop1' class="topbar " ><a href="/mybill/bill.do?accountid={{account.id}}&method=list">我的账本</a></li>
		<li id='liTop2' class="topbar "><a href="/mybill/bill.do?accountid={{account.id}}&method=append">新增记录</a></li>
		<li id='liTop3' class="topbar "><a href="/mybill/category.do?accountid={{account.id}}&method=list">收支项目管理</a></li>
		<li id='liTop4' class="topbar on"><a href="/mybill/bill.do?accountid={{account.id}}&method=analytics">分析报表</a></li>
		<li id='liTop5' class="topbar "><a href="/mybill/bill.do?accountid={{account.id}}&method=search">搜索账目</a></li>
	    <li id='liTop6' class="topbar "><a href="/mybill/bill.do?accountid={{account.id}}&method=myfunds">股票基金</a></li>
	</ul>

{%endblock%}


{%block main.content %}
		<div class="eSubNav"> <a href="/mybill/bill.do?accountid={{account.id}}&method=analytics&type=-1" class='on' >收支对比分析</a> <span class="spline">|</span> <a href="/mybill/bill.do?accountid={{account.id}}&method=analytics&type=1" >收入分配分析</a> <span class="spline">|</span> <a href="/mybill/bill.do?accountid={{account.id}}&method=analytics&type=0" >支出分配分析</a> </div>
		<form id='frmAnalytics' name='analyticsForm' method="post" action="/mybill/bill.do?accountid={{account.id}}">
		<input id='hdnLoadData' name='loadData' value='1' type='hidden'/>
		<div class="anyBar">
			<div id='divButtonContainer' class="aB1">
				<input id='hdnMethod' name='method' value='analytics' type='hidden'/>
				<input name='type' value='-1' type='hidden'/>
				从 <input id='txtFromRecDate' name="fromRecDate"  readonly='readonly' type="text" style=" width:75px" value="2015-09-13"/> <a id='aFromRecDate' href="#" class="icoCal">&nbsp;&nbsp;&nbsp;&nbsp;</a> &nbsp;&nbsp;&nbsp;至&nbsp;<input id='txtToRecDate' name='toRecDate' type="text"  readonly='readonly' style=" width:75px" value="2015-10-13"/> <a id='aToRecDate' href="#" class="icoCal">&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<input id='btnSearch' type="button" class="btnFnt" value="查看" />&nbsp;&nbsp;

			</div>
		</div>
		</form>
{%endblock%}
