




<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>理财易</title>




<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/add_lcy.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" lang="Javascript" src="/static/js/lib/include.js?1444742736270"></script>
<script type="text/javascript" lang="Javascript" src="/static/js/page/manage_add.js?1444742736270"></script>
</head>

<body>






<!--增加代码 lemon start-->

	<div class="Top"><a href="http://mimg.126.com/assist/index.htm" class="a_INDEX">百宝箱</a><b class="Top_B_arr"></b><span><strong>理财易</strong></span></div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar " ><a href="/mybill/{{account.id}}/user.do?method=wel">理财易首页</a></li>
		<li id='liTop1' class="topbar " ><a href="/mybill/{{account.id}}/bill.do?method=list&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">我的账本</a></li>
		<li id='liTop2' class="topbar "><a href="/mybill/{{account.id}}/bill.do?method=append&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">新增记录</a></li>
		<li id='liTop3' class="topbar on"><a href="/mybill/{{account.id}}/category.do?method=list&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">收支项目管理</a></li>
		<li id='liTop4' class="topbar "><a href="/mybill/{{account.id}}/bill.do?method=analytics&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">分析报表</a></li>
		<li id='liTop5' class="topbar "><a href="/mybill/{{account.id}}/bill.do?method=search&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">搜索账目</a></li>
	    <li id='liTop6' class="topbar "><a href="/mybill/{{account.id}}/bill.do?method=myfunds">股票基金</a></li>
	</ul>

	<div class="eMain">
		<div class="eMtop"></div>
		<div class="eMbdy">


	<!--操作或系统提示通用区域-->
	<div class="eInfo hide" >&nbsp;<b class="icoInfo">&nbsp;&nbsp;&nbsp;&nbsp;</b><span id='spnMessage'></span></div>

		<div class="eSubNav"> <a href="/mybill/category.do?method=list&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">收支项目管理</a> <span class="spline">|</span> <a href="/mybill/category.do?method=append&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD" class="on">新增收支项目</a> </div>

		<div>
		<style>.expBdy .sFrm li b{width:80px}/*调整对齐修改此数值*/</style>
									<ul class="sFrm">

									     <input   type='hidden' name='sid' class='categoryData' value='nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD' />
									    <input id='hdnId' type='hidden' name='id' class='categoryData' value='0' />
									    <input id='hdnType' type='hidden' name='type' class='categoryData' value='1' />
										<input id='hdnParentId' type='hidden' name='parentId' class='categoryData' value='0' />
										<li><b><span class="icoImp">　</span> 性质：</b><div class="itemFm"><input id='rdoTypeIn' type="radio" name="r1" value='1' class='chkType' checked="checked"/>收入&nbsp;&nbsp;<input id='rdoTypeOut' value='0' class='chkType' type="radio" name="r1"/>支出</div><div class="clear0"></div></li>
										<li><b><span class="icoImp">　</span> 收支项目名称：</b><input id='txtCategoryName' maxlength='8' name='categoryName' type="text" class="sIpt2 itemFm categoryData" maxlength='20'/><div class="clear0"></div></li>
										<li><b><span class="icoImp">　</span> 从属收支项目：</b><div class="itemFm"><input id='rdoFirstLevel' type="radio" name="r2" checked="checked"/>一级收支项目<br/><input id='rdoSubLevel' type="radio" name="r2"/>从属于<select id='selInCategories' style="width:100px"><option value='1|50529755' >工资</option>
<option value='1|50529756' >奖金</option>
<option value='1|50529757' >分红</option>
<option value='1|50529758' >投资收入</option>
<option value='1|50529759' >礼金</option>
<option value='1|50529760' >兼职</option>
<option value='1|50529761' >其他收入</option>
</select><select id='selOutCategories' style="width:100px"><option value='0|50529762' >交通</option>
<option value='0|50529768' >饮食</option>
<option value='0|50529772' >服饰美容</option>
<option value='0|50529777' >日常开支</option>
<option value='0|50529784' >教育培训</option>
<option value='0|50529785' >通讯电话费</option>
<option value='0|50529786' >文化/娱乐</option>
<option value='0|50529787' >卫生医疗费</option>
<option value='0|50529788' >孝敬父母</option>
<option value='0|50529789' >子女培养</option>
<option value='0|50529790' >人情往来</option>
<option value='0|50529791' >其他开支</option>
</select></div><div class="clear0"></div></li>
										<li class="bar"><b></b><input id='btnSave' type="button" class="btnFnt" value="新增收支项目"/>&nbsp;&nbsp;&nbsp;<input type="button" class="btnFnt" onclick="javascript:location='/mybill/category.do?method=list&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD'" value="关闭"/></li>
									</ul>
		</div>


		<br/>
		<br/>





	</div>
	<div class="eMbot"></div>
</div>



</body>
</html>
