



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>理财易</title>





	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/add_lcy.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" lang="Javascript" src="/static/js/lib/include.js?1444743191325"></script>
<script type="text/javascript" lang="Javascript" src="/static/js/page/manage_edit.js?1444743191325"></script>
</head>

<body>






<!--增加代码 lemon start-->
	<div class="Top">
		<a	href="/mybill/"	class="a_INDEX">百宝箱</a><b	class="Top_B_arr"></b>
		<span>
			<strong>理财易</strong>
			<select	onchange='document.location.href=this.options[this.selectedIndex].value;'>
				{% for acc in	account_list %}<option value="/mybill/{{acc.id}}/" {%ifequal acc.id	account.id %}	selected="selected"{%endifequal%}>{{acc.name}}</option>{%	endfor%}
			</select>
		</span>
	</div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar " ><a href="/mybill/{{account.id}}/user.do?method=wel">理财易首页</a></li>
		<li id='liTop1' class="topbar " ><a href="/mybill/{{account.id}}/bill.do?method=list&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">我的账本</a></li>
		<li id='liTop2' class="topbar "><a href="/mybill/{{account.id}}/bill.do?method=append&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">新增记录</a></li>
		<li id='liTop3' class="topbar on"><a href="/mybill/{{account.id}}/category.do?method=list&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">收支项目管理</a></li>
		<li id='liTop4' class="topbar "><a href="/mybill/{{account.id}}/bill.do?method=analytics&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">分析报表</a></li>
		<li id='liTop5' class="topbar "><a href="/mybill/{{account.id}}/bill.do?method=search&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">搜索账目</a></li>
	    <li id='liTop6' class="topbar "><a href="/mybill/{{account.id}}/bill.do?method=myfunds">股票基金</a></li>
	</ul>

	<div class="eMain">
		<div class="eMtop"></div>
		<div class="eMbdy">


		<!--操作或系统提示通用区域-->
			<div class="eInfo hide" >&nbsp;<b class="icoInfo">&nbsp;&nbsp;&nbsp;&nbsp;</b><span id='spnMessage'></span></div>

		<div class="eSubNav"> <a href="/mybill/category.do?method=list&sid=nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD">&laquo;返回</a> <span class="spline">|</span> <span class="on">编辑收支项目</span> </div>

		<div>
		<style>.expBdy .sFrm li b{width:80px}/*调整对齐修改此数值*/
		.ifR1{ margin-top:3px; height:22px; line-height:22px; color:#444}
		</style>
			<ul class="sFrm">
			   <input  name='sid' type='hidden' value='nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD' class='categoryData' />
				<input id='hdnId' name='id' type='hidden' value='50529755' class='categoryData' />
				<input id='hdnType' name='type' type='hidden' value='1' class='categoryData' />
				<input id='hdnParentId' name='parentId' type='hidden' value='0' class='categoryData' />
				<li><b><span class="icoImp">　</span> 一级收支项目名：</b><input id='txtCategoryName' maxlength='8' name='categoryName' type="text" class="sIpt2 itemFm categoryData" maxlength='20' value="工资" /><div class="clear0"></div></li>
				<li><b><span class="icoImp">　</span> 性质：</b><div class="itemFm"><input type="radio" name="rdotype" value="1" checked='true'/>收入&nbsp;&nbsp;<input type="radio" name="rdotype" value='0' />支出</div><div class="clear0"></div></li>

				<li class="bar"><b></b><input id='btnSaveCategory' type="button" class="btnFnt" value="保 存"/>&nbsp;&nbsp;&nbsp;<input type="button" class="btnFnt" value="取 消" onclick='return history.back();'/></li>
			</ul>
		</div>



		<br/>
		<br/>





	</div>
	<div class="eMbot"></div>
</div>



</body>
</html>
