{% extends "mybill/base_mybill.html" %}

{%block title%}理财易{%endblock%}

{%block js.custom%}
<script type="text/javascript" lang="Javascript" src="/static/js/lib/include.js?1444743191325"></script>
<script type="text/javascript" lang="Javascript" src="/static/js/page/manage_edit.js?1444743191325"></script>
{%endblock%}


{%block header %}
    <!--增加代码 lemon start-->

	<div class="Top"><a href="http://mimg.126.com/assist/index.htm" class="a_INDEX">百宝箱</a><b class="Top_B_arr"></b><span><strong>理财易</strong></span></div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar " ><a href="/mybill/user.do?method=wel">理财易首页</a></li>
		<li id='liTop1' class="topbar " ><a href="/mybill/bill.do?method=list">我的账本</a></li>
		<li id='liTop2' class="topbar "><a href="/mybill/bill.do?method=append">新增记录</a></li>
		<li id='liTop3' class="topbar on"><a href="/mybill/category.do?method=list">收支项目管理</a></li>
		<li id='liTop4' class="topbar "><a href="/mybill/bill.do?method=analytics">分析报表</a></li>
		<li id='liTop5' class="topbar "><a href="/mybill/bill.do?method=search">搜索账目</a></li>
	    <li id='liTop6' class="topbar "><a href="/mybill/bill.do?method=myfunds">股票基金</a></li>
	</ul>

{%endblock%}


{%block main.content %}

		<!--操作或系统提示通用区域-->
			<div class="eInfo hide" >&nbsp;<b class="icoInfo">&nbsp;&nbsp;&nbsp;&nbsp;</b><span id='spnMessage'></span></div>

		<div class="eSubNav"> <a href="/mybill/category.do?method=list">&laquo;返回</a> <span class="spline">|</span> <span class="on">编辑收支项目</span> </div>

		<div>
		<style>.expBdy .sFrm li b{width:80px}/*调整对齐修改此数值*/
		.ifR1{ margin-top:3px; height:22px; line-height:22px; color:#444}
		</style>
			<ul class="sFrm">
			   <input  name='sid' type='hidden' value='nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD' class='categoryData' />
				<input id='hdnId' name='id' type='hidden' value='{{accountcategory.id}}' class='categoryData' />
				<input id='hdnType' name='type' type='hidden' value='{{accountcategory.tx_type}}' class='categoryData' />
				<input id='hdnParentId' name='parentId' type='hidden' value='{% if accountcategory.parent %}{{accountcategory.parent.id}}{%else%}0{%endif%}' class='categoryData' />
				<li><b><span class="icoImp">　</span> 一级收支项目名：</b><input id='txtCategoryName' maxlength='8' name='categoryName' type="text" class="sIpt2 itemFm categoryData" maxlength='20' value="{{accountcategory.name}}" /><div class="clear0"></div></li>
				<li><b><span class="icoImp">　</span> 性质：</b><div class="itemFm"><input type="radio" name="rdotype" value="1" {%if accountcategory.tx_type %}checked='true'{%endif%}/>收入&nbsp;&nbsp;<input type="radio" name="rdotype" value='0' {%if not accountcategory.tx_type %}checked='true'{%endif%}/>支出</div><div class="clear0"></div></li>

				<li class="bar"><b></b><input id='btnSaveCategory' type="button" class="btnFnt" value="保 存"/>&nbsp;&nbsp;&nbsp;<input type="button" class="btnFnt" value="取 消" onclick='return history.back();'/></li>
			</ul>
		</div>

{%endblock%}