{% extends "mybill/base_mybill.html" %}

{%block title%}理财易{%endblock%}


{%block main.content %}
			<div style=" height:110px; margin:15px 0 10px 0">
				<img src="/static/mybill/images/pic_wei.gif" class="eWimg"/>
				<h2>理财易，您个人理财的好帮手！</h2>
				<p class="eWintro">其独特的在线记账功能，使您随时随地可以记账<br/>努力赚钱，明白花钱，相信它会成为您个人理财的好帮手！<br/><input  onclick='javascript:location="/mybill/bill.do?method=append"' type="button" class="btnFnt" value="新增账目" style="margin-top:10px"/>


					&nbsp;&nbsp;<span id="spnLockLink" style="display:none;line-height:16px; "><a href="#" title=""><input type="button" value="" style="width:19px; height:16px; border:0px; border:none;  background-color:transparent; background-image:url('http://mimg.127.net/xm/all/lock/img/unlocked.gif'); background-repeat:no-repeat; background-position:0px 1px; cursor:pointer; cursor:hand;" />给它加锁</a></span>


				</p>
			</div>

			<div class="line1"></div>

			<h3>理财易的优点</h3>

			<ul class="eWelLst">
				<li><span>在线记帐：</span> 无论何时何地，登录126邮箱就能管好自己的帐</li>
				<li><span>收支类别：</span> 100％由您自定义，灵活易用</li>
				<li><span>统计分析：</span> 收支报表，图文并茂，明白花钱，一目了然</li>
				<li><span>数据安全：</span> 独立服务器保存数据，安全无忧</li>
			</ul>

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;想了解更多理财易使用技巧,请点击<a href="http://help.mail.163.com/faq.do?m=list&categoryID=117" target="_blank">帮助中心</a>.

{%endblock%}
