{% extends "mybill/base_mybill.html" %}

{%block title%}理财易{%endblock%}

{%block header%}
	<!--增加代码 lemon start-->
	<div class="Top">
		<a href="http://mimg.126.com/assist/index.htm" class="a_INDEX">百宝箱</a>
		<b class="Top_B_arr"></b><span><strong>理财易</strong></span>
		<b class="Top_B_arr"></b><span><strong>首页</strong></span>
	</div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar on" ><a href="/mybill/user.do?method=wel">理财易首页</a></li>
		<li id='liTop0' class="topbar" ><a href="/mybill/account.do?method=append">添加账户</a></li>
	</ul>
{%endblock%}

{%block main.content %}
			<div style=" height:110px; margin:15px 0 10px 0">
				<img src="/static/mybill/images/pic_wei.gif" class="eWimg"/>
				<h2>理财易，您个人理财的好帮手！</h2>
				<p class="eWintro">其独特的在线记账功能，使您随时随地可以记账<br/>努力赚钱，明白花钱，相信它会成为您个人理财的好帮手！<br/><input  onclick='javascript:location="/mybill/account.do?method=append"' type="button" class="btnFnt" value="新增账户" style="margin-top:10px"/>


					&nbsp;&nbsp;<span id="spnLockLink" style="display:none;line-height:16px; "><a href="#" title=""><input type="button" value="" style="width:19px; height:16px; border:0px; border:none;  background-color:transparent; background-image:url('http://mimg.127.net/xm/all/lock/img/unlocked.gif'); background-repeat:no-repeat; background-position:0px 1px; cursor:pointer; cursor:hand;" />给它加锁</a></span>


				</p>
			</div>

			<div class="line1"></div>

			<h3>理财易的优点</h3>

			<ul class="eWelLst">
			    {%for account in account_list%}
			    <li><span>({{account.number}}){{account.name}}：</span> <a href="bill.do?accountid={{account.id}}&method=list">开始记账</a></li>
			    {%endfor%}
			</ul>


{%endblock%}
