<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>理财易</title>

	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/add_lcy.css" rel="stylesheet" type="text/css" />

</head>
<body>


<!--增加代码 lemon start-->

	<div class="Top"><a href="http://mimg.126.com/assist/index.htm" class="a_INDEX">百宝箱</a><b class="Top_B_arr"></b><span><strong>理财易</strong></span></div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar on" ><a href="/mybill/user.do?method=wel">理财易首页</a></li>
		<li id='liTop1' class="topbar " ><a href="/mybill/bill.do?method=list">我的账本</a></li>
		<li id='liTop2' class="topbar "><a href="/mybill/bill.do?method=append">新增记录</a></li>
		<li id='liTop3' class="topbar "><a href="/mybill/category.do?method=list">收支项目管理</a></li>
		<li id='liTop4' class="topbar "><a href="/mybill/bill.do?method=analytics">分析报表</a></li>
		<li id='liTop5' class="topbar "><a href="/mybill/bill.do?method=search">搜索账目</a></li>
	    <li id='liTop6' class="topbar "><a href="/mybill/bill.do?method=myfunds">股票基金</a></li>
	</ul>

	<div class="eMain">
		<div class="eMtop"></div>
		<div class="eMbdy">

		<div class="eWel">

			<div style=" height:110px; margin:15px 0 10px 0">
				<img src="/static/mybill/images/pic_wei.gif" class="eWimg"/>
				<h2>理财易，您个人理财的好帮手！</h2>
				<p class="eWintro">其独特的在线记账功能，使您随时随地可以记账<br/>努力赚钱，明白花钱，相信它会成为您个人理财的好帮手！<br/><input  onclick='javascript:location="/mybill/bill.do?method=append"' type="button" class="btnFnt" value="新增账目" style="margin-top:10px"/>


					&nbsp;&nbsp;<span id="spnLockLink" style="display:none;line-height:16px; "><a href="#" title=""><input type="button" value="" style="width:19px; height:16px; border:0px; border:none;  background-color:transparent; background-image:url('http://mimg.127.net/xm/all/lock/img/unlocked.gif'); background-repeat:no-repeat; background-position:0px 1px; cursor:pointer; cursor:hand;" />给它加锁</a></span>


				</p>
			</div>

			<div class="line1"></div>

			<h3>理财易的优点</h3>

			<ul class="eWelLst">
				<li><span>在线记帐：</span> 无论何时何地，登录126邮箱就能管好自己的帐</li>
				<li><span>收支类别：</span> 100％由您自定义，灵活易用</li>
				<li><span>统计分析：</span> 收支报表，图文并茂，明白花钱，一目了然</li>
				<li><span>数据安全：</span> 独立服务器保存数据，安全无忧</li>
			</ul>

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;想了解更多理财易使用技巧,请点击<a href="http://help.mail.163.com/faq.do?m=list&categoryID=117" target="_blank">帮助中心</a>.

		</div>




	</div>
	<div class="eMbot"></div>
</div>

	<!--增加代码 lemon start-->
	<div class="bot_back_btn">

		<input type="button" value="<< 百宝箱首页" class="Back_IND" onclick="javascript:location.href='http://mimg.126.com/assist/index.htm'"/>
	</div>
	<!--增加代码 lemon end-->
<script type="text/javascript">
//<!-- 免费邮兼容外部百宝箱 -->
try{
	if(top.frames["index"])document.getElementById("spnLockLink").style.display="";
}catch(e){
}
</script>

</body>
</html>
