{% extends "mybill/base_mybill.html" %}

{%block title%}理财易{%endblock%}

{%block js.custom%}
<script type="text/javascript" lang="Javascript" src="/static/js/lib/include.js?1444741569247"></script>
<script type="text/javascript" lang="Javascript" src="/static/js/page/search.js?1444741569247"></script>
{%endblock%}


{%block header %}
    <!--增加代码 lemon start-->

	<div class="Top"><a href="http://mimg.126.com/assist/index.htm" class="a_INDEX">百宝箱</a><b class="Top_B_arr"></b><span><strong>理财易</strong></span></div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar " ><a href="/mybill/user.do?method=wel">理财易首页</a></li>
		<li id='liTop1' class="topbar" ><a href="/mybill/bill.do?accountid={{account.id}}&method=list">我的账本</a></li>
		<li id='liTop2' class="topbar "><a href="/mybill/bill.do?accountid={{account.id}}&method=append">新增记录</a></li>
		<li id='liTop3' class="topbar "><a href="/mybill/category.do?accountid={{account.id}}&method=list">收支项目管理</a></li>
		<li id='liTop4' class="topbar "><a href="/mybill/bill.do?accountid={{account.id}}&method=analytics">分析报表</a></li>
		<li id='liTop5' class="topbar "><a href="/mybill/bill.do?accountid={{account.id}}&method=search">搜索账目</a></li>
	    <li id='liTop6' class="topbar on"><a href="/mybill/bill.do?accountid={{account.id}}&method=myfunds">股票基金</a></li>
	</ul>

{%endblock%}


{%block main.content %}

		<iframe src='http://money.163.com/special/00251MNR/licainew686.html?1217843380613' name='ifrMyFunds' height='300' width='663' scrolling='no' frameborder='no'></iframe>

{%endblock%}

