{% extends "mybill/base_mybill.html" %}

{%block title%}理财易{%endblock%}

{%block js.custom%}
<script type="text/javascript" lang="Javascript">
    var accountid = {{account.id}};
</script>
<script type="text/javascript" lang="Javascript" src="/static/js/lib/include.js?1444741569247"></script>
<script type="text/javascript" lang="Javascript" src="/static/js/page/search.js?1444741569247"></script>
{%endblock%}


{%block header %}
	<!--增加代码 lemon start-->
	<div class="Top">
		<a href="/mybill/">理财易</a>
		<b class="Top_B_arr"></b><span><strong>{{account}}</strong></span>
	</div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar " ><a href="/mybill/user.do?method=wel">理财易首页</a></li>
		<li id='liTop1' class="topbar " ><a href="/mybill/bill.do?accountid={{account.id}}&method=list">我的账本</a></li>
		<li id='liTop2' class="topbar "><a href="/mybill/bill.do?accountid={{account.id}}&method=append">新增记录</a></li>
		<li id='liTop3' class="topbar "><a href="/mybill/category.do?accountid={{account.id}}&method=list">收支项目管理</a></li>
		<li id='liTop4' class="topbar "><a href="/mybill/bill.do?accountid={{account.id}}&method=analytics">分析报表</a></li>
		<li id='liTop5' class="topbar on"><a href="/mybill/bill.do?accountid={{account.id}}&method=search">搜索账目</a></li>
		<li id='liTop6' class="topbar "><a href="/mybill/bill.do?accountid={{account.id}}&method=myfunds">股票基金</a></li>
	</ul>

{%endblock%}


{%block main.content %}
		<!--操作或系统提示通用区域-->
		<div class="eInfo hide" >&nbsp;<b class="icoInfo">&nbsp;&nbsp;&nbsp;&nbsp;</b><span id='spnMessage'></span></div>

		<form id="frmBillSearch" name='billSearchForm' method="post" action="/mybill/bill.do?accountid={{account.id}}" >
		<div class="srhFm">
			<input id='hdnPageIndex' type=hidden name='pageIndex' value='0' />
			<input id='hdnPageSize' type=hidden name='pageSize' value='100' />
			<input id='hdnTotalCount' type=hidden name='totalCount' value='0' />
			<input type=hidden name='method' value='search'/>
			<input id='hdnType' name='type' type='hidden' value='0' />
			<input id='hdnCategoryId' name='categoryId' type='hidden' value='0' />
			<input id='hdnSubCategoryId' name='subCategoryId' type='hidden' value='0' />
			&nbsp;&nbsp;关键字：<input id='txtKeyword' name='keyword' type="text" value='' style="width:90px"/>&nbsp;&nbsp;
			&nbsp;&nbsp;收支项目：<select id='selCategoryIds' class='sSel'>
			    <option value='-1|-1|-1'>所有收支项目</option>

                {% for category in outcome_category_list %}
                <option value='{{category.tx_type}}|{{category.id}}|0' >{{category.name}}</option>
                {% for subcategory in category.child_category_set.all %}
                <option value='{{subcategory.tx_type}}|{{category.id}}|{{subcategory.id}}' >　　{{subcategory.name}}</option>
                {%endfor%}
                {%endfor%}

                {% for category in income_category_list %}
                <option value='{{category.tx_type}}|{{category.id}}|0' >{{category.name}}</option>
                {% for subcategory in category.child_category_set.all %}
                <option value='{{subcategory.tx_type}}|{{category.id}}|{{subcategory.id}}' >　　{{subcategory.name}}</option>
                {%endfor%}
                {%endfor%}

            </select>

			&nbsp; &nbsp; &nbsp;从 <input id='txtFromRecDate'  readonly='readonly' name='fromRecDate' type="text" style=" width:75px" value="2015-09-13"/> <a id='aFromRecDate' href="#" class="icoCal">&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;至 <input id='txtToRecDate' name='toRecDate' type="text" style=" width:75px"  readonly='readonly' value="2015-10-13"/> <a id='aToRecDate' href="#" class="icoCal">&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;

			<div style=" margin-top:14px; text-align:center"><input id='btnSearch' type="button" class="btnFnt" value="搜索" style="width:80px"/></div>

		</div>



		<br/>
		<br/>
		</form>

		<div class="SummaryTxt bmSt"><b class="fLe">合计</b>&nbsp; <b class="fgn">收入:￥{{income}}</b>&nbsp;&nbsp;&nbsp;<b class="frd">支出:￥{{outcome}}</b>&nbsp;&nbsp;&nbsp;<b class="fbu">结余:￥{{balance}}</b></div>

		{%if not accountitem_list%}
		<!--没有记录时候显示-->
		<div class="eInfo2">
			<img src="/static/mybill/images/ico_info2.gif"/>
			<p>暂未搜索到收支记录。<br/>请尝试更换搜索关键字。</p>
		</div>
		{%endif%}

		<table class="eTb" {% if not accountitem_list %}style='display:none'{%endif%}>
		<col width="" />
		<col width="85" />
		<col width="140" />
		<col width="100" />
		<col width="100" />
		<col width="90" />
			<tr>
				<th>收支项目</th>
				<th>日期</th>
				<th>说明</th>
				<th>收入金额</th>
				<th>支出金额</th>
				<th>操作</th>
			</tr>

			{% for accountitem in accountitem_list %}
			<tr id='trBill_{{accountitem.id}}' class="tr1 trBillList">
				<td class="tdCutL" title="{{accountitem.category.name}}">{{accountitem.category.name}}</td>
				<td>{{accountitem.tx_date|date:'Y-m-d'}}</td>
				<td class="tdCutL" title=""><nobr>{{accountitem.summary_display}}</nobr></nobr></td>
				<td class="fgn">{%if accountitem.tx_type%}￥{{accountitem.amount}}{%else%}&nbsp;{%endif%}</td>
				<td class="frd">{%if accountitem.tx_type%}&nbsp;{%else%}￥{{accountitem.amount}}{%endif%}</td>
				<td>
					<a href="/mybill/bill.do?accountid={{account.id}}&method=edit&id={{accountitem.id}}" class="icoEdt" title="编辑账单">&nbsp;&nbsp;&nbsp;&nbsp;</a> &nbsp;
					<a href="#" class="icoDel" title="删除账单" onclick='return del("{{accountitem.id}}","nAUxTEmsQQtGwXHUCmssHlJGzKtZAdoD")'>&nbsp;&nbsp;&nbsp;</a> &nbsp;
					{%if accountitem.tx_type%}<a href="/mybill/bill.do?accountid={{account.id}}&method=transfer&id={{accountitem.id}}" class="icoTrans" title="转账">&nbsp;&nbsp;&nbsp;</a>{%endif%}

				</td>
			</tr>
			{% endfor %}

		</table>
		<div class="SummaryTxt bmSt"><b class="fLe">合计</b>&nbsp; <b class="fgn">收入:￥{{income}}</b>&nbsp;&nbsp;&nbsp;<b class="frd">支出:￥{{outcome}}</b>&nbsp;&nbsp;&nbsp;<b class="fbu">结余:￥{{balance}}</b></div>

{%endblock%}
