{% extends "mybill/base_mybill.html" %}

{%block title%}{{account}}-理财易{%endblock%}

{%block js.custom%}
<script type="text/javascript" lang="Javascript" src="/static/js/lib/include.js?1444740001119"></script>
<script type="text/javascript" lang="Javascript" src="/static/js/page/bill.js?1444740001119"></script>
{%endblock%}


{%block header %}
    <!--增加代码 lemon start-->

	<div class="Top">
		<a href="/mybill/">理财易</a>
		<b class="Top_B_arr"></b><span><strong>{{account}}</strong></span>
	</div>
	<!--增加代码 lemon end-->
	<ul class="eNav">
		<li id='liTop0' class="topbar " ><a href="/mybill/user.do?method=wel">理财易首页</a></li>
	  <li id='liTop6' class="topbar "><a href="/mybill/bill.do?accountid={{account.id}}&method=transfer">转账</a></li>
	  <li id='liTop1' class="topbar on"><a href="/mybill/tx.do?txid={{tx.id}}&method=list">转账信息</a></li>
	</ul>

{%endblock%}


{%block main.content %}
	<!--操作或系统提示通用区域-->
		<div class="eInfo hide" >&nbsp;<b class="icoInfo">&nbsp;&nbsp;&nbsp;&nbsp;</b><span id='spnMessage'></span></div>

		<div class="eSubNav">
			<a href="/mybill/bill.do?accountid={{account.id}}&method=list" class="on">全部收支</a> <span class="spline">|</span>
			<a href="/mybill/bill.do?accountid={{account.id}}&method=listmonth">按月份查看</a> <span class="spline">|</span>
			<a href="/mybill/bill.do?accountid={{account.id}}&method=listyear">按年份查看</a> <span class="spline">|</span>
			<a href="/mybill/bill.do?accountid={{account.id}}&method=listsort">按收支项目查看</a>
		</div>


	<table class="eTb" {% if not accountitem_list %}style='display:none'{%endif%}>
		<col width="85" />
		<col width="85" />
		<col width="10" />
		<col width="85" />
		<col width="45" />

			<tr id='trBill_{{accountitem.id}}' class="tr1 trBillList">
				<td class="tdCutL" >交易日期:{{tx.tx_date}}</td>
				<td>转出账户:{{tx.from_account}}</td>
				<td>&raquo;&raquo;&raquo;</td>
				<td class="tdCutL" title="">转入账户:{{tx.to_account}}</td>
				<td class="fgn">交易金额:{{tx.amount}}</td>
			</tr>


		</table>





		<div class="SummaryTxt bmSt"><b class="fLe">合计</b>&nbsp; <b class="fgn">收入:￥{{income}}</b>&nbsp;&nbsp;&nbsp;<b class="frd">支出:￥{{outcome}}</b>&nbsp;&nbsp;&nbsp;<b class="fbu">结余:￥{{balance}}</b></div>

    {% if not accountitem_list %}
		<!--没有记录时候显示-->
		<div class="eInfo2"  >
			<img src="/static/mybill/images/ico_info2.gif"/>
			<p>本月暂无收支记录，<br/>请点击“<a href="/mybill/bill.do?accountid={{account.id}}&method=append">新增记录</a>”添加。</p>
		</div>
    {%endif%}

		<table class="eTb" {% if not accountitem_list %}style='display:none'{%endif%}>
		<col width="175" />
		<col width="80" />
		<col width="200" />
		<col width="85" />
		<col width="85" />
		<col width="90" />
		<col width="45" />
		<col width="45" />
			<tr>
				<th>收支项目</th>
				<th>日期</th>
				<th>说明</th>
				<th>收入金额</th>
				<th>支出金额</th>
				<th>操作</th>
				<th>票据号码</th>
				<th>转账ID</th>
			</tr>

			{% for accountitem in accountitem_list %}

			<tr id='trBill_{{accountitem.id}}' class="tr1 trBillList">
				<td class="tdCutL" title="饮食 - 工作餐">{{accountitem.account}}/{{accountitem.category.name}}</td>
				<td>{{accountitem.tx_date|date:'Y-m-d'}}</td>
				<td class="tdCutL" title=""><nobr>{{accountitem.summary_display}}</nobr>

					{%ifnotequal tx.tx_date accountitem.tx_date%}<br/><br/><span class="frd">记账条目和转账条目【时间】不符</span>
					<br/>转：{{tx.tx_date|date:"Y-m-d H:i:s"}}
					<br/>记：{{accountitem.tx_date|date:"Y-m-d H:i:s"}}
					{%endifnotequal%}
					{%ifnotequal tx.amount accountitem.amount%}<br/><br/><span class="frd">记账条目和转账条目【金额】不符</span>{%endifnotequal%}


					</td>
				<td class="fgn">{%if accountitem.tx_type%}￥{{accountitem.amount}}{%else%}&nbsp;{%endif%}</td>
				<td class="frd">{%if accountitem.tx_type%}&nbsp;{%else%}￥{{accountitem.amount}}{%endif%}</td>
				<td>
				    <a href="/mybill/bill.do?accountid={{accountitem.account.id}}&method=edit&id={{accountitem.id}}" class="icoEdt" title="编辑账单">&nbsp;&nbsp;&nbsp;&nbsp;</a> &nbsp;
				    {%if accountitem.tx_type%}
				    {%if not accountitem.transaction_id%}
				    <a href="/mybill/bill.do?accountid={{accountitem.account.id}}&method=transfer&id={{accountitem.id}}" class="icoTrans" title="转账">&nbsp;&nbsp;&nbsp;</a>
				    {%endif%}
				    {%endif%}
				</td>
				<td>{{accountitem.receipt}}</td>
				<td>{{accountitem.transaction_id}}</td>
			</tr>
			{% endfor %}



		</table>





		<div class="SummaryTxt bmSt"><b class="fLe">合计</b>&nbsp; <b class="fgn">收入:￥{{income}}</b>&nbsp;&nbsp;&nbsp;<b class="frd">支出:￥{{outcome}}</b>&nbsp;&nbsp;&nbsp;<b class="fbu">结余:￥{{balance}}</b></div>

		<br/>

		<div class="SummaryTxt bmSt"><a href="/mybill/bill.do?accountid={{account.id}}&method=exportall">导出全部数据</a></div>

{%endblock%}
